::-webkit-scrollbar {
  display: none;
}

/* Untuk Firefox */
html {
  scrollbar-width: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
}

.mulai {
  display: block;
  width: 100px;
  padding: 10px;
  margin: 50px auto;
  background-color: aqua;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}

.waktu {
  text-align: center;
  font-size: 2.1rem;
}

#timer {
  text-align: center;
  margin: 20px auto 50px;
  font-size: 2rem;
}

.muat-ulang {
  display: block;
  margin: 30px auto;
  padding: 8px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  perspective: 1000px;
}

.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  border: none !important;
  padding: 0 !important;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-body-animation {
  transform: center;
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background-color: #bbb;
  color: black;
}

.back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

#result-message {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.win {
  color: #2ecc71;
}

.lose {
  color: #b81422;
}

#result-message.show {
  opacity: 1;
}

.hidden {
  display: none;
}
